Repository astrolabsoftware/fink-science-portal, pull requests merged in 2023-01, with the labels that each got.

#383 Update Dockerfile
  docker/Dockerfile
  docker/README.md
  requirements.txt
Labels: documentation, dependencies, docker

#384 PoC for spins
  apps/plotting.py
  apps/sso/cards.py
  apps/sso/spins.py
  apps/summary.py
  apps/utils.py
  assets/buttons/imcce.png
Labels: sso

#386 [SSO] Updates
  apps/plotting.py
  apps/sso/cards.py
  apps/sso/spins.py
  apps/summary.py
  apps/utils.py
Labels: sso

#388 New data transfer service
  apps/mining/__init__.py
  apps/mining/utils.py
  apps/query_cluster.py
  assets/fclass_2022_060708_coeffs.parquet
  assets/spark_transfer.py
  config_datatransfer.yml
  index.py
Labels: data transfer

#391 [Data transfer] Open links in another tab
  apps/query_cluster.py
Labels: data transfer

#393 Swap accordion items
  apps/query_cluster.py
Labels: data transfer

#395 Mobile version for the datatransfer service
  apps/query_cluster.py
Labels: mobile, data transfer

#397 [Data transfer] Add new modules
  assets/spark_transfer.py
Labels: data transfer

#400 [Data Transfer] Enable polling ELASTiCC data
  apps/api/api.py
  apps/cards.py
  apps/mining/utils.py
  apps/mulens/cards.py
  apps/plotting.py
  apps/query_cluster.py
  apps/sso/cards.py
  apps/summary.py
  apps/varstars/cards.py
  assets/elasticc_classes.csv
  assets/elasticc_dates.csv
  assets/spark_elasticc_transfer.py
  assets/spark_ztf_transfer.py
  index.py
  requirements.txt
Labels: data transfer
