Repository astrolabsoftware/fink-science-portal, pull requests merged in 2024-01, with the labels that each got.

#541 Improvements for the search page
  app.py
  apps/api/api.py
  apps/api/doc.py
  apps/api/utils.py
  apps/cards.py
  apps/gw.py
  apps/parse.py
  apps/plotting.py
  apps/query_cluster.py
  apps/statistics.py
  apps/summary.py
  apps/utils.py
  assets/home.css
  assets/theme.css
  index.py
  tests/api_conesearch_test.py
Labels: enhancement, display, resolver, Search

#548 Enable choosing the number of rows to return for the TNS table download
  apps/api/doc.py
  apps/api/utils.py
  tests/api_resolver_test.py
Labels: bug, TNS, resolver

#556 Use formatted form for SSO
  apps/sso/cards.py
  requirements.txt
Labels: sso

#558 Rewrite of color and mag rate computations
  apps/api/api.py
  apps/plotting.py
  apps/supernovae/cards.py
  apps/utils.py
  assets/theme.css
Labels: supernovae, color-evolution, performance

#559 Optimize access to HBase scan results
  apps/utils.py
Labels: hbase, performance

#566 Update test for SSOFT
  requirements.txt
  tests/api_ssoft_test.py
Labels: sso, tests

#571 Clientside linked zoom (x axis only) for SN plots
  apps/plotting.py
  apps/supernovae/cards.py
Labels: supernovae, display

#574 Fix wrong display in statistics because the DataFrame was not sorted
  apps/plotting.py
  apps/statistics.py
  apps/utils.py
Labels: bug, stat-page

#572 Generalization of badges for summary and card views
  apps/cards.py
  apps/plotting.py
  apps/utils.py
  assets/theme.css
  index.py
  requirements.txt
Labels: badges

#553 Aladin Lite v3
  app.py
  apps/gw.py
  apps/plotting.py
  index.py
Labels: aladin

#567 Add VSX conesearch in the variable star profile
  apps/cards.py
  apps/utils.py
  apps/varstars/cards.py
Labels: variable, cleaning
