Repository astrolabsoftware/fink-science-portal, pull requests merged in 2025-07, with the labels that each got.

#752 Re-use POST for metadata
  apps/cards.py
Labels: bug

#755 Use GET for /metadata
  apps/cards.py
Labels: bug

#758 Xmatch service
  apps/query_cluster.py
  apps/utils.py
  apps/xmatch.py
  assets/MOC.json
  assets/spark_ztf_xmatch.py
  index.py
Labels: xmatch

#763 Hide non-relevant tabs in summary view
  apps/summary.py
Labels: visualisation, code quality

#765 Force decimal degree conversion
  apps/xmatch.py
Labels: xmatch

#769 Enforce proper serialisation of fields
  assets/spark_ztf_transfer.py
  assets/spark_ztf_xmatch.py
Labels: bug, xmatch, data transfer
